.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10%;

  background-image: url("https://image.freepik.com/free-vector/gradient-black-background-with-cubes_23-2149177090.jpg");

  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
